In [62]:
import pandas as pd
import tweepy
import requests
import os
import json
import time

## Gather data

Read in provided data to a dataframe.

In [63]:
ea = pd.read_csv('twitter-archive-enhanced.csv') # Read in enhanced twitter archive

Now use the requests library to programmatically download the `image-predictions.tsv` file from

In [64]:
r = requests.get(
    'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

Write image predictions data in to a `.tsv` file.

In [65]:
with open('image-predictions.tsv', 'w', encoding='utf-8') as file: 
    file.write(str(r.text))

Read `.tsv` file in to dataframe `ip`.

In [66]:
ip = pd.read_csv('image-predictions.tsv', sep = '\t')

In [67]:
ip.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [68]:
ea.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available fo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD3...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and sh...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/st...",12,10,Franklin,None,None,None,None

Grab all the tweet ids.

In [69]:
ids = ea['tweet_id']

Cycle through all the tweet ids, and grab their JSON data from the Twitter API using `tweepy` and `json`.

Many tweets have been deleted, and so cause an error to be thrown.

In [70]:
import tweepy

consumer_key = '2VDcRqXbcihwqtob3KyCHR4HA'
consumer_secret = 'Q2eRUisXRiu5mpFgakTyUQwpiIAGy4xHRC9fNW8I0FFCckGCdE'
access_token = '773745310661275652-rAdthEP5lVG6yiF4o2OydJnd3WGWryV'
access_secret = 'QbAWTTc2yah7G8GOtFQxAgGKH9iJT0liT1qy3zPvqhT8N'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True,
                wait_on_rate_limit_notify = True)

Grab all the JSON data from tweepy and store it in `tweet_json.txt`. If an error is thrown when we try to access a tweet this probably means the tweet was deleted. The `try` `except` block allows us to continue on despite errors.

with open('tweet_json.txt', mode = 'w', encoding='utf-8') as file:
    for x in ids:
        try:
            tweet = api.get_status(x, tweet_mode='extended')
            json.dump(tweet._json, file)
            print(x)
        except:
            print('This tweet ID: {0}, raised an error.'.format(x))

The JSON data is not parseable by the `json` decoder. [This stackoverflow answer](https://stackoverflow.com/questions/21708192/how-do-i-use-the-json-module-to-read-in-one-json-object-at-a-time/21709058#21709058) proved very useful parsing the following JSON data in `tweet_json.txt`.

In [71]:
from functools import partial

def json_parse(fileobj, decoder=json.JSONDecoder(), buffersize=2048):
    buffer = ''
    for chunk in iter(partial(fileobj.read, buffersize), ''):
        buffer += chunk
        while buffer:
            try:
                result, index = decoder.raw_decode(buffer)
                yield result
                buffer = buffer[index:]
            except ValueError:
                break

Build a list of dictionaries using `json_parse()` to read the JSON objects individually, then create a new dataframe with our new information from the Twitter api.

In [72]:
df_list = []

with open('tweet_json.txt', mode='r', encoding='utf-8') as file:
    for data in json_parse(file):
        df_list.append({'rt_count': data['retweet_count'],
                        'fav_count': data['favorite_count'],
                        'tweet_id': data['id']})

In [73]:
cols = ['rt_count', 'fav_count', 'tweet_id']

from_api = pd.DataFrame(df_list,
                        columns = cols)

## Assessment

In [74]:
df_clean = ea.copy()

In [75]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [76]:
ip.head(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True

In [77]:
ip.img_num.describe()

count    2075.000000
mean        1.203855
std         0.561875
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: img_num, dtype: float64

In [78]:
ip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [79]:
df_clean[df_clean.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [80]:
ip[ip.duplicated()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

In [81]:
ip['p1_conf'].describe()

count    2075.000000
mean        0.594548
std         0.271174
min         0.044333
25%         0.364412
50%         0.588230
75%         0.843855
max         1.000000
Name: p1_conf, dtype: float64

In [82]:
ip['p2_conf'].describe()

count    2.075000e+03
mean     1.345886e-01
std      1.006657e-01
min      1.011300e-08
25%      5.388625e-02
50%      1.181810e-01
75%      1.955655e-01
max      4.880140e-01
Name: p2_conf, dtype: float64

In [83]:
ip['p3_conf'].describe()

count    2.075000e+03
mean     6.032417e-02
std      5.090593e-02
min      1.740170e-10
25%      1.622240e-02
50%      4.944380e-02
75%      9.180755e-02
max      2.734190e-01
Name: p3_conf, dtype: float64

In [84]:
df_clean.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

## Quality issues

### Quality issues with the tweets dataframe

* Datatype issues:
 1. `tweet_id` should be a string not an int.
 2. `timestamp` should be a datetime object
* The `source` column has html tags still around it.
* All data that's a retweet should be dropped.
* All data that's a reply should be dropped.
* The `in_reply_to...` columns should be dropped. They're almost entirely `NaN`s. The same can be said for the `retweeted_status...` columns.
* Not all tweets have an image in them

### Quality issues with the image predictions dataframe:
* `tweet_id` should be a string not an int
* `p1`, `p2`, and `p3` columns have '\_' instead of spaces. There's also inconsistency in their capitalization.

### Api data issues
* `rt_count` and `fav_count` should be ints rather than floats.

## Tidiness issues

* The api dataframe and the enhanced tweets dataframe both have data on the same set of tweets, meaning each type of observational unit does *not* form a table.
* `doggo`, `floofer`, `pupper`, and `puppo` are not variables, but data. These shouldn't be in the columns.

## Cleaning

#### *__`tweet_id` should be a string__*.

We'll fix this by using `.astype()`.

In [85]:
df_clean['tweet_id'] = df_clean['tweet_id'].astype(str)

Verify that the data type is a string:

In [86]:
df_clean['tweet_id'].dtype

dtype('O')

---------

#### *__`timestamp`__* should be a datetime object.

We'll fix this by using `pd.to_datetime`.

In [87]:
df_clean['timestamp'] = pd.to_datetime(df_clean['timestamp'])

Verify that the column is `datetime` type. This should show up as `<M8[ns]`.

In [88]:
df_clean['timestamp'].dtype

dtype('<M8[ns]')

---------------------

#### The `source` column still has html tags around it.

We grab everything inside the tag.

In [89]:
# We'll use regex to solve this problem
import re

In [90]:
# Let's us see all the contents of 'source'
pd.set_option('max_colwidth', 100)

Test and confirm our regex pattern works:

In [91]:
df_clean.source.head(100)

0     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
1     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
3     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
4     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
5     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
6     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
7     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
8     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
9     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
10    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
11    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
12    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
13    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
14    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
15    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
16    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
17    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
18    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
19    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
20    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
21    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
22    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
23    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
24    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
25    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
26    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
27    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
28    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
29    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
                                             ...
70    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
71    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
72    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
73    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
74    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
75    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
76    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
77    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
78    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
79    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
80    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
81    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
82    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
83    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
84    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
85    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
86    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
87    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
88    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
89    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
90    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
91    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
92    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
93    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
94    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
95    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
96    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
97    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
98    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
99    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
Name: source, Length: 100, dtype: object

In [92]:
pattern = re.compile(r'<a.*>([\w\s]+)</a>')

In [93]:
match = pattern.search('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>')

In [94]:
match.groups()

('Twitter for iPhone',)

In [95]:
df_clean.source = df_clean.source.str.extract(pat = pattern)

C:\Users\Luke\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

Test to see if we've successfully gotten rid of the html tags:

In [96]:
df_clean.source.head()

0    Twitter for iPhone
1    Twitter for iPhone
2    Twitter for iPhone
3    Twitter for iPhone
4    Twitter for iPhone
Name: source, dtype: object

---------------------- 

#### Data from retweets should be removed.

Rows with non-null values in  `Retweeted_status...` columns should be dropped, as these are retweets.

In [97]:
df_clean[['retweeted_status_id', 'retweeted_status_user_id',
         'retweeted_status_timestamp']].notnull().sum()

retweeted_status_id           181
retweeted_status_user_id      181
retweeted_status_timestamp    181
dtype: int64

All three columns share the same rows with non-null values, so we'll drop the rows where `retweeted_status_id` is not null (it doesn't matter which column we choose).

In [98]:
df_clean = df_clean[df_clean['retweeted_status_id'].isnull()]

Now let's check the `in_reply_to...` columns to see if they have meet the same criteria as `retweeted_status...` columns:

In [99]:
df_clean[df_clean['in_reply_to_status_id'].notnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35,Twitter for iPhone,@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extrem...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53,Twitter for iPhone,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36,Twitter for iPhone,@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25,Twitter for iPhone,@ComplicitOwl @ShopWeRateDogs &gt;10/10 is reserved for dogs,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35,Twitter for iPhone,"@Jack_Septic_Eye I'd need a few more pics to polish a full analysis, but based on the good boy c...",NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
149,863079547188785154,6.671522e+17,4.196984e+09,2017-05-12 17:12:53,Twitter for iPhone,"Ladies and gentlemen... I found Pipsy. He may have changed his name to Pablo, but he never chang...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/863079547188785154/photo/1,14,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51,Twitter for iPhone,@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
184,856526610513747968,8.558181e+17,4.196984e+09,2017-04-24 15:13:52,Twitter for iPhone,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY HI AFTER ALL. PUPGRADED TO A 14/10. WOULD BE AN H...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/856526610513747968/photo/1,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03,Twitter for iPhone,@xianmcguire @Jenna_Marbles Kardashians wouldn't be famous if as a society we didn't place enorm...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32,Twitter for iPhone,@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32,Twitter for iPhone,"@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed...",NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55,Twitter for iPhone,@markhoppus MARK THAT DOG HAS SEEN AND EXPERIENCED MANY THINGS. PROBABLY LOST OTHER EAR DOING SO...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12,Twitter for iPhone,Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22,Twitter for iPhone,.@breaannanicolee PUPDATE: Cannon has a heart on his nose. Pupgraded to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
251,844979544864018432,7.590995e+17,4.196984e+09,2017-03-23 18:29:57,Twitter for iPhone,PUPDATE: I'm proud to announce that Toby is 236 days sober. Pupgraded to a 13/10. We're all very...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/844979544864018432/photo/1,https://twitter.com/dog_rates/st...",13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09,Twitter for iPhone,@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52,Twitter for iPhone,@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49,Twitter for iPhone,@bragg6of8 @Andy_Pace_ we are still looking for the first 15/10,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03,Twitter for iPhone,"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50,Twitter for iPhone,@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45,Twitter for iPhone,@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25,Twitter for iPhone,"I was going to do 007/10, but the joke wasn't worth the &lt;10 rating",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15,Twitter for iPhone,@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26,Twitter for iPhone,@imgur for a polar bear tho I'd say 13/10 is appropriate,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41,Twitter for iPhone,I've been informed by multiple sources that this is actually a dog elf who's tired from helping ...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02,Twitter for iPhone,PUPDATE: I've been informed that Augie was actually bringing his family these flowers when he tr...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47,Twitter for iPhone,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,None,doggo,None,pupper,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13,Twitter for iPhone,.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE TO SAY 11/10 NBC,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18,Twitter for iPhone,@SkyWilliams doggo simply protecting you from evil that which you cannot see. 11/10 would give e...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50,Twitter for iPhone,@JODYHiGHROLLER it may be an 11/10 but what do I know 😉,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19,Twitter for iPhone,Personally I'd give him an 11/10. Not sure why you think you're qualified to rate such a stellar...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49,Twitter for iPhone,PUPDATE: just noticed this dog has some extra legs. Very advanced. Revolutionary af. Upgraded to...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1501,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15,Twitter for iPhone,These are some pictures of Teddy that further justify his 13/10 rating. Please enjoy https://t.c...,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/692142790915014657/photo/1,https://twitter.com/dog_rates/st...",13,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36,Twitter for iPhone,12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10,Twitter for iPhone,"Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give the...",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45,Twitter for iPhone,Jack deserves another round of applause. If you missed this earlier today I strongly suggest rea...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35,Twitter for iPhone,"For those who claim this is a goat, u are wrong. It is not the Greatest Of All Time. The rating ...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1630,684538444857667585,6.844811e+17,4.196984e+09,2016-01-06 00:54:18,Twitter for iPhone,"After watching this video, we've determined that Pippa will be upgraded to a 12/10. Please enjoy...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684538444857667585/video/1,12,10,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44,Twitter for iPhone,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Tha...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/st...",143,130,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03,Twitter for iPhone,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An incons...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27,Twitter for iPhone,I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Stil...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31,Twitter for iPhone,After getting lost in Reese's eyes for several minutes we're going to upgrade him to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17,Twitter for iPhone,After some outrage from the crowd. Bubbles is being upgraded to a 7/10. That's as high as I'm go...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1842,675870721063669760,6.757073e+17,4.196984e+09,2015-12-13 02:51:51,Twitter for iPhone,&amp; this is Yoshi. Another world record contender 11/10 (what the hell is happening why are th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675870721063669760/photo/1,11,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37,Twitter for iPhone,This dog is being demoted to a 9/10 for not wearing a helmet while riding. Gotta stay safe out t...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1852,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36,Twitter for iPhone,We've got ourselves a battle here. Watch out Reggie. 11/10 https://t.co/ALJvbtcwf0,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675707330206547968/photo/1,11,10,None,None,None,None,None
1866,675349384339542016,6.749998e+17,4.196984e+09,2015-12-11 16:20:15,Twitter for iPhone,Yea I lied. Here's more. All 13/10 https://t.co/ZQZf2U4xCP,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/st...",13,10,None,None,None,None,None
1882,674999807681908736,6.747934e+17,4.196984e+09,2015-12-10 17:11:09,Twitter for iPhone,Ok last one of these. I may try to make some myself. Anyway here ya go. 13/10 https://t.co/i9CDd...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674999807681908736/photo/1,13,10,None,None,None,None,None
1885,674793399141146624,6.717299e+17,4.196984e+09,2015-12-10 03:30:58,Twitter for iPhone,I have found another. 13/10 https://t.co/HwroPYv8pY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674793399141146624/photo/1,13,10,None,None,None,None,None
1892,674754018082705410,6.747522e+17,4.196984e+09,2015-12-10 00:54:28,Twitter for iPhone,Just received another perfect photo of dogs and the sunset. 12/10 https://t.co/9YmNcxA2Cc,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674754018082705410/photo/1,12,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50,Twitter for iPhone,Some clarification is required. The dog is singing Cher and that is more than worthy of an 11/10...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55,Twitter for iPhone,The 13/10 also takes into account this impeccable yard. Louis is great but the future dad in me ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11,Twitter for iPhone,13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02,Twitter for iPhone,The millennials have spoken and we've decided to immediately demote to a 1/10. Thank you,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2036,671729906628341761,6.715610e+17,4.196984e+09,2015-12-01 16:37:44,Twitter for iPhone,I'm just going to leave this one here as well. 13/10 https://t.co/DaD5SyajWt,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671729906628341761/photo/1,13,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10,Twitter for iPhone,After 22 minutes of careful deliberation this dog is being demoted to a 1/10. The longer you loo...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28,Twitter for iPhone,After countless hours of research and hundreds of formula alterations we have concluded that Dug...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30,Twitter for iPhone,This is Tessa. She is also very pleased after finally meeting her biological father. 10/10 https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438988365824/photo/1,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25,Twitter for iPhone,12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51,Twitter for iPhone,After much debate this dog is being upgraded to 10/10. I repeat 10/10,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

A visual inspection of these data shows they aren't retweets. However, they represent a very small part of the dataset -- I'm going to drop rows where these columns aren't null in the interest of consistency.

After dropping these rows, our dataset will be purely tweets. No retweets, and no replies.

In [100]:
df_clean = df_clean[df_clean['in_reply_to_status_id'].isnull()]

#### __The `in_reply_to...` and `retweet_status...` columns should be dropped.

We'll verify that these columns are all NaN's and then drop them.

In [101]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null object
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null datetime64[ns]
source                        2006 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(10)
memory usage: 294.9+ KB

In [102]:
to_drop = ['in_reply_to_status_id', 'in_reply_to_user_id',
           'retweeted_status_id', 'retweeted_status_user_id',
           'retweeted_status_timestamp']

df_clean = df_clean.drop(to_drop, axis=1)

--------

#### __ Not all tweets have an image in them.__
Use pandas `.str.extract` with a regular expression to extract all tweets whose urls have the word "photo" in them.

In [103]:
df_clean = df_clean.loc[df_clean['expanded_urls'].str.extract(pat=r'(photo)').notnull(), :]

C:\Users\Luke\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [112]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1899 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              1899 non-null object
timestamp             1899 non-null datetime64[ns]
source                1899 non-null object
text                  1899 non-null object
expanded_urls         1899 non-null object
rating_numerator      1899 non-null int64
rating_denominator    1899 non-null int64
name                  1899 non-null object
doggo                 1899 non-null object
floofer               1899 non-null object
pupper                1899 non-null object
puppo                 1899 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 192.9+ KB

-------------


## Image predictions dataframe cleaning

First make a copy of image predictions dataframe.

In [105]:
ip_clean = ip.copy()

#### __`tweet_id`__  should be a string not an int.

In [106]:
ip_clean.tweet_id = ip_clean.tweet_id.astype(str)

Check datatype to ensure `tweet_id` is now a string:

In [107]:
ip_clean.tweet_id.dtype

dtype('O')

-------------

#### __`p1`, `p2`, and `p3` columns have '\_' instead of spaces. There's also inconsistency in their capitalization.__

According to [this](https://style.mla.org/capitalizing-names-of-dog-breeds/) capitalization guide, most dog names only have the first word capitalized. We will follow this convention.

In [108]:
ip_clean['p1'].str.replace('_', ' ').str.capitalize()

0            Welsh springer spaniel
1                           Redbone
2                   German shepherd
3               Rhodesian ridgeback
4                Miniature pinscher
5              Bernese mountain dog
6                        Box turtle
7                              Chow
8                     Shopping cart
9                  Miniature poodle
10                 Golden retriever
11                    Gordon setter
12                     Walker hound
13                              Pug
14                       Bloodhound
15                            Lhasa
16                   English setter
17                              Hen
18                 Desktop computer
19                Italian greyhound
20                      Maltese dog
21                 Three-toed sloth
22                               Ox
23                 Golden retriever
24                         Malamute
25                       Guinea pig
26      Soft-coated wheaten terrier
27                        Chihuahua
28          Black-and-tan coonhound
29                             Coho
                   ...
2045                 French bulldog
2046                    Convertible
2047                         Kuvasz
2048                      Chihuahua
2049                        Samoyed
2050               Mexican hairless
2051                       Pembroke
2052                      Limousine
2053                         Basset
2054                 French bulldog
2055                       Pembroke
2056                 Siberian husky
2057               Golden retriever
2058               Golden retriever
2059                        Whippet
2060               Golden retriever
2061                 French bulldog
2062                       Pembroke
2063                 French bulldog
2064                        Samoyed
2065                       Pembroke
2066                  Irish terrier
2067                     Pomeranian
2068                    Appenzeller
2069       Chesapeake bay retriever
2070                         Basset
2071                    Paper towel
2072                      Chihuahua
2073                      Chihuahua
2074                         Orange
Name: p1, Length: 2075, dtype: object

In [109]:
to_fix = ['p1', 'p2', 'p3']

for col in to_fix:
    ip_clean[col] = ip_clean[col].str.replace('_', ' ').str.capitalize()

Let's check to see the desired changes have been made:

In [110]:
ip_clean[['p1', 'p2', 'p3']]

,p1,p2,p3
0,Welsh springer spaniel,Collie,Shetland sheepdog
1,Redbone,Miniature pinscher,Rhodesian ridgeback
2,German shepherd,Malinois,Bloodhound
3,Rhodesian ridgeback,Redbone,Miniature pinscher
4,Miniature pinscher,Rottweiler,Doberman
5,Bernese mountain dog,English springer,Greater swiss mountain dog
6,Box turtle,Mud turtle,Terrapin
7,Chow,Tibetan mastiff,Fur coat
8,Shopping cart,Shopping basket,Golden retriever
9,Miniature poodle,Komondor,Soft-coated wheaten terrier
10,Golden retriever,Tibetan mastiff,Labrador retriever
11,Gordon setter,Yorkshire terrier,Pekinese
12,Walker hound,English foxhound,Ibizan hound
13,Pug,Bull mastiff,French bulldog
14,Bloodhound,German shepherd,Malinois
15,Lhasa,Shih-tzu,Dandie dinmont
16,English setter,Newfoundland,Borzoi
17,Hen,Cock,Partridge
18,Desktop computer,Desk,Bookcase
19,Italian greyhound,Toy terrier,Basenji
20,Maltese dog,Toy poodle,Miniature poodle
21,Three-toed sloth,Otter,Great grey owl
22,Ox,Newfoundland,Groenendael
23,Golden retriever,Chesapeake bay retriever,Labrador retriever
24,Malamute,Siberian husky,Eskimo dog
25,Guinea pig,Skunk,Hamster
26,Soft-coated wheaten terrier,Afghan hound,Briard
27,Chihuahua,Toy terrier,Papillon
28,Black-and-tan coonhound,Bloodhound,Flat-coated retriever
29,Coho,Barracouta,Gar
...,...,...,...
2045,French bulldog,Chihuahua,Boston bull
2046,Convertible,Sports car,Car wheel
2047,Kuvasz,Great pyrenees,Dandie dinmont
2048,Chihuahua,Toy terrier,Can opener
2049,Samoyed,Eskimo dog,Staffordshire bullterrier
2050,Mexican hairless,Sea lion,Weimaraner
2051,Pembroke,Rhodesian ridgeback,Beagle
2052,Limousine,Tow truck,Shopping cart
2053,Basset,Redbone,Weimaraner
2054,French bulldog,Pug,Bull mastiff
2055,Pembroke,Rhodesian ridgeback,Beagle
2056,Siberian husky,Eskimo dog,Malamute
2057,Golden retriever,Labrador retriever,English setter
2058,Golden retriever,Tibetan mastiff,Labrador retriever
2059,Whippet,Borzoi,Saluki
2060,Golden retriever,Labrador retriever,Redbone
2061,French bulldog,Boxer,Staffordshire bullterrier
2062,Pembroke,Cardigan,Basenji
2063,French bulldog,Labrador retriever,Muzzle
2064,Samoyed,Pomeranian,Chow
2065,Pembroke,Cardigan,Chihuahua
2066,Irish terrier,Irish setter,Chesapeake bay retriever
2067,Pomeranian,Eskimo dog,Pembroke
2068,Appenzeller,Border collie,Ice lolly
2069,Chesapeake bay retriever,Irish terrier,Indian elephant
2070,Basset,English springer,German short-haired pointer
2071,Paper towel,Labrador retriever,Spatula
2072,Chihuahua,Malamute,Kelpie
2073,Chihuahua,Pekinese,Papillon
2074,Orange,Bagel,Banana

Merge the enhanced archive that was provided, the newly obtained data from the Twitter api, and the the enhanced predictions to create our new dataframe with all the info we want.

In [111]:
df = pd.merge(ea, from_api, how='outer', on='tweet_id')