In [1]:
import pandas as pd
import tweepy
import requests
import os
import json
import time

## Gather data

Read in provided data to a dataframe.

In [2]:
ea = pd.read_csv('twitter-archive-enhanced.csv') # Read in enhanced twitter archive

Now use the requests library to programmatically download the `image-predictions.tsv` file from

In [3]:
r = requests.get(
    'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

Write image predictions data in to a `.tsv` file.

In [4]:
with open('image-predictions.tsv', 'w', encoding='utf-8') as file: 
    file.write(str(r.text))

Read `.tsv` file in to dataframe `ip`.

In [5]:
ip = pd.read_csv('image-predictions.tsv', sep = '\t')

In [6]:
ip.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [7]:
ea.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

Grab all the tweet ids.

In [8]:
ids = ea['tweet_id']

Cycle through all the tweet ids, and grab their JSON data from the Twitter API using `tweepy` and `json`.

Many tweets have been deleted, and so cause an error to be thrown.

In [9]:
import tweepy

consumer_key = '2VDcRqXbcihwqtob3KyCHR4HA'
consumer_secret = 'Q2eRUisXRiu5mpFgakTyUQwpiIAGy4xHRC9fNW8I0FFCckGCdE'
access_token = '773745310661275652-rAdthEP5lVG6yiF4o2OydJnd3WGWryV'
access_secret = 'QbAWTTc2yah7G8GOtFQxAgGKH9iJT0liT1qy3zPvqhT8N'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True,
                wait_on_rate_limit_notify = True)

Grab all the JSON data from tweepy and store it in `tweet_json.txt`. If an error is thrown when we try to access a tweet this probably means the tweet was deleted. The `try` `except` block allows us to continue on despite errors.

In [ ]:
with open('tweet_json.txt', mode = 'w', encoding='utf-8') as file:
    for x in ids:
        try:
            tweet = api.get_status(x, tweet_mode='extended')
            json.dump(tweet._json, file)
            print(x)
        except:
            print('This tweet ID: {0}, raised an error.'.format(x))

892420643555336193
892177421306343426
891815181378084864
891689557279858688
891327558926688256
891087950875897856
890971913173991426
890729181411237888
890609185150312448
890240255349198849
890006608113172480
889880896479866881
889665388333682689
889638837579907072
889531135344209921
889278841981685760
888917238123831296
888804989199671297
888554962724278272
This tweet ID: 888202515573088257, raised an error.
888078434458587136
887705289381826560
887517139158093824
887473957103951883
887343217045368832
887101392804085760
886983233522544640
886736880519319552
886680336477933568
886366144734445568
886267009285017600
886258384151887873
886054160059072513
885984800019947520
885528943205470208
885518971528720385
885311592912609280
885167619883638784
884925521741709313
884876753390489601
884562892145688576
884441805382717440
884247878851493888
884162670584377345
883838122936631299
883482846933004288
883360690899218434
883117836046086144
882992080364220416
882762694511734784
882627270321602560
882268110199369728
882045870035918850
881906580714921986
881666595344535552
881633300179243008
881536004380872706
881268444196462592
880935762899988482
880872448815771648
880465832366813184
880221127280381952
880095782870896641
879862464715927552
879674319642796034
879492040517615616
879415818425184262
879376492567855104
879130579576475649
879050749262655488
879008229531029506
878776093423087618
878604707211726852
878404777348136964
878316110768087041
878281511006478336
878057613040115712
877736472329191424
877611172832227328
877556246731214848
877316821321428993
877201837425926144
876838120628539392
876537666061221889
876484053909872640
876120275196170240
875747767867523072
875144289856114688
875097192612077568
875021211251597312
874680097055178752
874434818259525634
874296783580663808
874057562936811520
874012996292530176
This tweet ID: 873697596434513921, raised an error.
873580283840344065
873337748698140672
873213775632977920
872967104147763200
872820683541237760
872668790621863937
872620804844003328
872486979161796608
872261713294495745
872122724285648897
871879754684805121
871762521631449091
871515927908634625
871166179821445120
871102520638267392
871032628920680449
870804317367881728
870726314365509632
870656317836468226
870374049280663552
870308999962521604
870063196459192321
This tweet ID: 869988702071779329, raised an error.
869772420881756160
869702957897576449
869596645499047938
869227993411051520
868880397819494401
868639477480148993
868622495443632128
868552278524837888
867900495410671616
867774946302451713
867421006826221569
867072653475098625
867051520902168576
This tweet ID: 866816280283807744, raised an error.
866720684873056260
866686824827068416
866450705531457537
866334964761202691
866094527597207552
865718153858494464
865359393868664832
865006731092295680
864873206498414592
864279568663928832
864197398364647424
863907417377173506

The JSON data is not parseable by the `json` decoder. [This stackoverflow answer](https://stackoverflow.com/questions/21708192/how-do-i-use-the-json-module-to-read-in-one-json-object-at-a-time/21709058#21709058) proved very useful parsing the following JSON data in `tweet_json.txt`.

In [16]:
from functools import partial

def json_parse(fileobj, decoder=json.JSONDecoder(), buffersize=2048):
    buffer = ''
    for chunk in iter(partial(fileobj.read, buffersize), ''):
        buffer += chunk
        while buffer:
            try:
                result, index = decoder.raw_decode(buffer)
                yield result
                buffer = buffer[index:]
            except ValueError:
                break

Build a list of dictionaries using `json_parse()` to read the JSON objects individually, then create a new dataframe with our new information from the Twitter api.

In [33]:
df_list = []

with open('tweet_json.txt', mode='r', encoding='utf-8') as file:
    for data in json_parse(file):
        df_list.append({'rt_count': data['retweet_count'],
                        'fav_count': data['favorite_count'],
                        'tweet_id': data['id']})

In [34]:
cols = ['rt_count', 'fav_count', 'tweet_id']

from_api = pd.DataFrame(df_list,
                        columns = cols)

## Assessment

In [50]:
df.head(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,rt_count,fav_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,8504.0,38536.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,6250.0,33037.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,4142.0,24876.0
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,8614.0,41947.0
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,9362.0,40075.0
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None,3104.0,20102.0
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None,2065.0,11769.0
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None,18841.0,65116.0
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None,4257.0,27631.0
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None,7387.0,31739.0
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None,7312.0,30502.0
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None,4961.0,27617.0
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo,10031.0,47846.0
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None,4535.0,27005.0
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo,2231.0,15006.0
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None,5405.0,25138.0
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None,4493.0,28905.0
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None,4324.0,25428.0
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None,3573.0,19774.0
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None,NaN,NaN

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 19 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
rt_count                      2343 non-null float64
fav_count                     2343 non-null float64
dtypes: float64(6), int64(3), object(10)
memory usage: 368.1+ KB

In [52]:
ip.head(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True

In [102]:
ip.img_num.describe()

count    2075.000000
mean        1.203855
std         0.561875
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: img_num, dtype: float64

In [53]:
ip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [54]:
df[df.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, rt_count, fav_count]
Index: []

In [55]:
ip[ip.duplicated()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

In [59]:
ip['p1_conf'].describe()

count    2075.000000
mean        0.594548
std         0.271174
min         0.044333
25%         0.364412
50%         0.588230
75%         0.843855
max         1.000000
Name: p1_conf, dtype: float64

In [61]:
ip['p2_conf'].describe()

count    2.075000e+03
mean     1.345886e-01
std      1.006657e-01
min      1.011300e-08
25%      5.388625e-02
50%      1.181810e-01
75%      1.955655e-01
max      4.880140e-01
Name: p2_conf, dtype: float64

In [60]:
ip['p3_conf'].describe()

count    2.075000e+03
mean     6.032417e-02
std      5.090593e-02
min      1.740170e-10
25%      1.622240e-02
50%      4.944380e-02
75%      9.180755e-02
max      2.734190e-01
Name: p3_conf, dtype: float64

In [103]:
df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator,rt_count,fav_count
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000,2343.000000,2343.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433,2982.078532,8036.713615
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237,4945.681841,12205.803767
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000,600.000000,1395.500000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000,1395.000000,3512.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000,3482.000000,9899.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000,76702.000000,142373.000000

## Quality issues

### Quality issues with the tweets dataframe

* Datatype issues:
 1. `tweet_id` should be a string not an int.
 2. `timestamp` should be a datetime object
* The `source` column has html tags still around it.
* The `in_reply_to...` columns should be dropped. They're almost entirely `NaN`s. The same can be said for the `retweeted_status...` columns.
* We don't want any data that is a retweet.

### Quality issues with the image predictions dataframe:
* `tweet_id` should be a string not an int
* `p1`, `p2`, and `p3` columns have '\_' instead of spaces. There's also inconsistency in their capitalization.
* We only want tweets with images in them. Some tweets don't have images.

### Api data issues
* `rt_count` and `fav_count` should be ints rather than floats.

## Tidiness issues

* The api dataframe and the enhanced tweets dataframe both have data on the same set of tweets, meaning each type of observational unit does *not* form a table.
* `doggo`, `floofer`, `pupper`, and `puppo` are not variables, but data. These shouldn't be in the columns.

## Cleaning

First copy the tweets dataframe before we do anything to it.

In [62]:
df_clean = df.copy()

Now tackle the quality issues in this dataframe.

#### *__`tweet_id` should be a string__*.

We'll fix this by using `.astype()`.

In [72]:
df_clean['tweet_id'] = df_clean['tweet_id'].astype(str)

Verify that the data type is a string:

In [73]:
df_clean['tweet_id'].dtype

dtype('O')

---------

#### *__`timestamp`__* should be a datetime object.

We'll fix this by using `pd.to_datetime`.

In [75]:
df_clean['timestamp'] = pd.to_datetime(df_clean['timestamp'])

Verify that the column is `datetime` type. This should show up as `<M8[ns]`.

In [77]:
df_clean['timestamp'].dtype

dtype('<M8[ns]')

---------------------

#### The `source` column still has html tags around it.

We grab everything inside the tag.

In [89]:
# We'll use regex to solve this problem
import re

In [85]:
# Let's us see all the contents of 'source'
pd.set_option('max_colwidth', 100)

Test and confirm our regex pattern works:

In [87]:
df_clean.source.head(100)

0     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
1     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
2     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
3     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
4     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
5     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
6     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
7     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
8     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
9     <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
10    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
11    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
12    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
13    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
14    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
15    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
16    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
17    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
18    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
19    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
20    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
21    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
22    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
23    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
24    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
25    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
26    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
27    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
28    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
29    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
                                             ...
70    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
71    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
72    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
73    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
74    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
75    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
76    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
77    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
78    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
79    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
80    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
81    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
82    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
83    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
84    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
85    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
86    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
87    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
88    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
89    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
90    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
91    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
92    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
93    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
94    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
95    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
96    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
97    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
98    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
99    <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
Name: source, Length: 100, dtype: object

In [94]:
pattern = re.compile(r'<a.*>([\w\s]+)</a>')

In [96]:
match = pattern.search('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>')

In [97]:
match.groups()

('Twitter for iPhone',)

In [98]:
df_clean.source = df_clean.source.str.extract(pat = pattern)

C:\Users\Luke\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

Test to see if we've successfully gotten rid of the html tags:

In [99]:
df_clean.source.head()

0    Twitter for iPhone
1    Twitter for iPhone
2    Twitter for iPhone
3    Twitter for iPhone
4    Twitter for iPhone
Name: source, dtype: object

----------------------

`Retweeted_status...` columns should be dropped. So should `in_reply_to...` columns. 

# To do: Do we need to use these columns to filter out retweets? Drop all columns with non-null `retweeted_status..` column?

-------------


## Image predictions dataframe cleaning

First make a copy of image predictions dataframe.

In [104]:
ip_clean = ip.copy()

#### *__`tweet_id`__*  should be a string not an int.

In [105]:
ip_clean.tweet_id = ip_clean.tweet_id.astype(str)

Check datatype to ensure `tweet_id` is now a string:

In [107]:
ip_clean.tweet_id.dtype

dtype('O')

-------------

#### *__'

Merge the enhanced archive that was provided and the newly obtained data from the api to create our new dataframe with all the info we want.

In [48]:
df = pd.merge(ea, from_api, how='outer', on='tweet_id')